.order-details {
  & > div {
    background: #ffffff;
    margin-top: pxTorem(10px);
  }
}

.detail {
  border-bottom: 1px solid #D8D8D8;;
  padding: pxTorem(20px) pxTorem(15px) pxTorem(18px) pxTorem(15px);
  .imgbox {
    width: pxTorem(85px);
    height: pxTorem(85px);
    img {
      width: 100%;
    }
  }
  .details {
    & > div {
      padding: 2px 0;
    }
    padding-left: pxTorem(15px);
    font-size: pxTorem(13px);
    color: #4D4D4D;
  }
  .tc {
    font-size: pxTorem(13px);
    color: #FF8F45;
  }
}

.info {
  padding: pxTorem(12px) pxTorem(15px) pxTorem(18px) pxTorem(15px);
  p {
    font-size: pxTorem(12px);
    color: #999999;
    line-height: pxTorem(20px);
    &:nth-of-type(1) {
      font-size: pxTorem(14px);
      color: #4D4D4D;
    }
  }
}

.flow {
  position: relative;
  overflow: hidden;
  .string {
    width: 2px;
    position: absolute;
    height: 100%;
    background: #E9E9E9;
    left: pxTorem(29px);
  }
  padding: pxTorem(19px) pxTorem(15px) 0 pxTorem(20px);
  .item {
    margin-bottom: pxTorem(18px);
    height: pxTorem(40px)!important;
  }
  .item.smalls {
    margin-bottom: pxTorem(35px);
    .big {
      background: none !important;
    }
  }
  .block {
    display: inline-block;
    width: pxTorem(20px);
    height: pxTorem(20px);
    border-radius: 50%;
    vertical-align: top;
    margin-right: pxTorem(11px);
    position: relative;
  }
  .big{
    width: 100%;
    height: 100%;
    background: #08D4A6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
  .big.big1{
    background:url(../../img/right@2x.png);
    background-size: cover;
  }
  .big.big2{
    background:url(../../img/ongoing@2x.png);
    background-size: cover;
  }
  .big.big0 {
    display: inline-block;
    width: pxTorem(10px)!important;
    height: pxTorem(10px)!important;
    background: #DBDBDB!important;
    border-radius: 50%;
    vertical-align: top;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .til {
    display: inline-block;
    opacity: 0.8;
    font-size: pxTorem(16px);
    color: #000000;
    .times {
      display: block;
      opacity: 0.5;
      font-size: pxTorem(12px);
      color: #000000;
    }
  }
  .right {
    opacity: 0.6;
    font-size: pxTorem(12px);
    color: #000000;
    margin-top: pxTorem(3px);
    display:inline-block;
    width:pxTorem(170px);
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
  }

}

.footer-block {
  height: pxTorem(102px);
}

.footer {
  //margin: pxTorem(30px) 0;
  padding-top: pxTorem(6px);
  padding-bottom: pxTorem(6px);
  background: #f5f4f9 !important;
  .btn {
    display: block;
    width: 90%;
    height: pxTorem(50px);
    margin: pxTorem(20px) auto;
    font-size: pxTorem(18px);
    color: #FFFFFF;
    background: #675757;
    border-radius: 4px;
    outline: none;
    border: none;
    text-align: center;
    line-height: pxTorem(50px);
  }
  .go1{
    display:none!important;
  }
  .go16{
    display:none!important;
  }
  .go4{
    display:none!important;
  }

}

.active {
  background: rgba(103, 87, 87, 0.30) !important;
  border-radius: 4px;
}
